{% extends 'base/base.html' %}

{% block title %}
  Issue list
{% endblock title %}


{% block content %}
  <div class="container">
  <a href="{% url 'core:issue-book' %}" class="btn btn-primary m-2 float-end">New issue</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Issued To</th>
      <th scope="col">Due date</th>
      <th scope="col">Return date</th>
      {% if user.role is 1 %}
        <th scope="col">Manage</th>
      {% endif %}
        
    </tr>
  </thead>
  <tbody>
    {% for book_issue in page_obj %}
    <tr>
      <td>{{book_issue.book}}</td>
      <td>{{book_issue.member}}</td>
      <td>{{book_issue.due_date}}</td>
      <td>
        
        {% if book_issue.return_date is None %}
          Not returned
        {% else %}
        {{book_issue.return_date}}
        {% endif %}
        
          
      </td>
      {% if user.role is 1 %}
        <td><a href="#">Update</a></th>
      {% endif %}
    </tr>
    {% endfor %}
    
  </tbody>
  

</table>

<ul class="pagination">
  {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">&laquo;&laquo;</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">&laquo;</span>
    </li>
  {% endif %}

  {# Page number loop #}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link">{{ num }}</span>
      </li>
    {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">&raquo;</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">&raquo;&raquo;</span>
    </li>
  {% endif %}
</ul>
{% endblock content %}
  