{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% block title %}
Login {% endblock title %} {% block content %}
<h1 class="text-center">Register</h1>
  <div class="container">
    <form
      method="POST"
      style="
        border: 1px solid black;
        margin: 4%;
        padding: 5%;
        border-radius: 8px;
      "
    >
      {% csrf_token %}
      <fieldset class="form-group">{{ form|crispy }}</fieldset>
      <center>
        <button
          style="
            background: black;
            padding: 1.5% 4%;
            font-size: 1.5rem;
            color: white;
          "
          type="submit"
        >
          <span class="glyphicon glyphicon-check"></span>   Login
        </button>
      </center>
      <br />
      <sub>
        <a
          href="{% url 'core:register' %}"
          style="text-decoration: none; color: blue"
        >
          Don't have an account?
        </a>
      </sub>
    </form>
  </div>

{% endblock content %}
