{% extends 'base/base.html' %} {% block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% if form.instance.image %}
    <img
      src="{{ form.instance.image.url }}"
      alt="Profile Image"
      width="150"
      height="150"
      style="object-fit: cover; border-radius: 10px"
    />
    {% else %}
    <p>No image uploaded.</p>
    {% endif %} {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Update" />
  </form>
</div>

{% endblock content %}
